<!-- 背景圖片 -->
<div class="login-wrap">
    <!-- 註冊/登入圖層 -->
    <div class="login-html">
        <!-- label標籤在網頁外觀上沒有任何效果，而是協助使用者在點選到該標籤時，可以透過
for的屬性值，去連動具有相同id屬性值的標籤 ，例如：點選Sign In，等同id="tab-1"被點選，同個radio的name要一樣-->

        <span class="tab">Sign In</span>
        <i class="fas fa-user"></i>
        <div class="login-form">
            <!-- SIGN IN -->
            <form class="form-horizontal" method="post">
                <div class="sign-in-htm">
                    <div class="group">

                        <input type="text" class="input" id="username" name="username" placeholder="Username">

                    </div>
                    <div class="group">

                        <input type="password" class="input" id="password" name="password" placeholder="Password">
                    </div>

                    <div class="group">

                        <button type="submit" class="button">Login</button>

                    </div>
                    <div class="hr"></div>


                </div>
            </form>
        </div>
    </div>
</div>